input,
textarea {
    font-weight: 800;
    margin: 8px 12px;
    padding: 6px 10px;
    border: 2px solid var(--blue-primary);
    border-radius: 7px;
}


.TextArea {

    width: 80%;
    height: 200px;
}

.InputFilePrimary {
    background-color: var(--blue-tertiary);
    border-radius: 7px;
    padding: 6px 10px;
    margin: 8px 12px;

    input {
        background-color: white;
        margin: 0px;
    }

    label {
        font-weight: 800;
    }
}