input {
    font-weight: 800;
    // padding: 6px 10px;
    // width: 250px;
}

.InputTextPrimary {
    margin: 8px 12px;
    padding: 6px 10px;
    border: 2px solid var(--blue-primary);
    border-radius: 7px;
}

.TextArea {
    margin: 8px 12px;
    padding: 6px 10px;
    border: 2px solid var(--blue-primary);
    border-radius: 7px;
    width: 80%;
    height: 200px;
}