h2 {
    margin-top: 0;
}

.container {
    background-color: lightgray;
    border-radius: var(--br-small);
    padding: 10px;

    img {
        cursor: pointer;
        height: 120px;
        width: auto;

    }
}