# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

__pycache__/
.vite/
.vite/*
.env
MyEnv/
MyEnv/*
node_modules/
node_modules/*
dist/
dist/*
test_mail.py
contenu/
contenu/*
organization_images/
organization_images/*
user_images/
user_images/*
test.js
static/images/
static/images/*