@import "./variable";


.word-with-big-first-and-shadow {
    // donner cette class à une span sur la première lettre
    text-shadow: 7px 3px 3px black;
    font-size: 60px;
}

.blue-word {
    color: var(--blue-primary);
    font-size: 20px;
}

.button {
    cursor: pointer;
    background-color: var(--blue-primary);
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: var(--text-shadow-black);
    transition: ease-out 0.25s;

    &:hover {
        background-color: white;
        text-shadow: var(--text-shadow-black);
        scale: 1.05;
        box-shadow: 1px 1px 1px 1px;
    }
}

:root {
    h2 {
        border-bottom: 5px solid var(--blue-primary);
        text-shadow: var(--text-shadow-blue);
        font-size: 80px;
        letter-spacing: 5px;
        color: white;
        width: fit-content;
    }

    h3 {
        border-bottom: 5px solid var(--blue-primary);
        text-shadow: var(--text-shadow-black);
        font-size: 20px;
        letter-spacing: 3px;
        color: white;
        width: fit-content;
    }
}