//  Variables
:root {
    --blue-gradient-primary: linear-gradient(45deg, #20201C, #20201C);
    --sombre-primary: #20201C;
    --green-primary: #009900;
    --blue-primary: #217AAC;

    // Params
    --text-shadow-black: 3px 3px 3px black;
    --text-shadow-blue: 2px 2px #217AAC;
    --text-shadow-white: 2px 2px 3px white;
}

// Fonts
@font-face {
    font-family: noteworthy;
    src: url("../fonts/Veneer\ W01\ Two.ttf");
}

@font-face {
    font-family: avenir;
    src: url("../fonts/Avenir\ Next\ Condensed\ Bold.ttf");
}