@use "./variable" as Variables;
@use "./classes" as Classes;

body {
    margin: 0;

    header {
        z-index: 0;
        position: fixed;
        width: 100%;
        box-shadow: 0px 1px 5px black;
        height: 80px;
        font-family: noteworthy;
        letter-spacing: 1px;




        .container {
            background: url("../../assets/images/top-bar_background.jpg") center/cover no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            width: 100%;
            // opacity: 0.75;

            * {
                opacity: 1;
                color: white;
            }

            .span-image {
                flex: 1;
                background: url("../../assets/images/output-onlinepngtools\ \(2\).png") center/cover no-repeat;
                display: block;
                height: 120px;
                width: 120px;
            }

            .menu-container {
                flex: 8;
                height: 100%;

                nav {
                    // background-color: aqua;
                    height: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: flex-end;

                    a {
                        // background-color: lightgray;
                        padding: 7px 10px;
                        border-radius: 5px;
                        text-decoration: none;

                        &:hover {
                            background-color: var(--blue-primary);
                        }
                    }
                }
            }

            // .contact-container {
            //     flex: 1;

            //     nav {
            //         ul {
            //             li {
            //                 list-style-type: none;
            //                 // background-color: lightgray;
            //                 padding: 7px 10px;
            //                 margin: 0 15px;
            //                 border-radius: 5px;
            //                 width: 80px;
            //                 text-align: center;
            //             }
            //         }
            //     }
            // }
        }




    }

    .content {
        font-family: avenir;
        letter-spacing: 1px;
        padding-top: 80px;
        margin-bottom: 500px;

        .background {
            background: var(--sombre-primary);
            z-index: -1;
            position: fixed;
            display: flex;
            height: 100vh;
            width: 100%;
        }

        section {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}