.textAreaPrimary {

    background-color: white;
    margin: 0px;
    font-weight: 800;
    margin: 8px 12px;
    padding: 6px 10px;
    border: 2px solid var(--blue-primary);
    border-radius: 7px;
}

.inputPrimary {
    background-color: white;
    margin: 0px;
    font-weight: 800;
    margin: 8px 12px;
    padding: 6px 10px;
    border: 2px solid var(--blue-primary);
    border-radius: 7px;


    label {
        font-weight: 800;
    }
}

.buttonContainer {
    width: max-content;
    padding: 8px 12px;

    button {
        cursor: pointer;
        font-weight: 800;
        transition: 0.25s;

    }

}

button.ButtonYesPrimary {
    cursor: pointer;
    font-weight: 800;
    transition: 0.25s;
    background-color: var(--blue-primary);
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    padding: 8px 15px;

    &:hover {
        background-color: white;
        color: var(--blue-tertiary);
        border: 2px solid var(--blue-primary);
        margin-right: -13px;
        box-shadow: 1px 1px 1000px 30px var(--blue-primary);
        text-shadow: 4px 4px 2px var(--blue-primary);

    }
}


button.ButtonNoPrimary {
    cursor: pointer;
    font-weight: 800;
    transition: 0.25s;
    background-color: var(--red-secondary);
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    padding: 8px 15px;

    &:hover {
        background-color: white;
        color: var(--red-primary);
        border: 2px solid var(--red-primary);
        margin-right: -13px;
        box-shadow: 1px 1px 1000px 30px var(--red-primary);
        text-shadow: 4px 4px 2px var(--red-primary);

    }
}

button.SubmitButton {
    cursor: pointer;
    font-weight: 800;
    transition: 0.25s;
    background-color: var(--sombre-primary);
    color: white;
    border: 4px solid var(--blue-tertiary);
    border-radius: 5px;
    padding: 4px 75px;
    box-shadow: var(--text-shadow-black);

    &:hover {
        background-color: rgba(255, 255, 255);
        color: var(--blue-tertiary);
        text-shadow: 1px 1px 1px black;

        box-shadow: 6px 6px 8px black;

    }
}

h1.H1Primary {
    text-align: center;
    border-bottom: 5px solid white;
    border-radius: 9px;
    padding-bottom: 15px;
    text-shadow: var(--text-shadow-black);
    color: var(--blue-tertiary);
    font-size: 60px;
    width: fit-content;
}

h1.H1Secondary {
    text-align: center;
    border-bottom: 5px solid white;
    border-radius: 9px;
    padding-bottom: 15px;
    text-shadow: var(--text-shadow-black);
    color: var(--blue-primary);
    font-size: 60px;
    width: fit-content;
}

h2.H2Primary {
    text-align: center;
    border-bottom: 5px solid var(--blue-primary);
    border-radius: 5px;
    padding-bottom: 15px;
    text-shadow: var(--text-shadow-blue);
    color: white;
    font-size: 40px;
    width: fit-content;
}

h2.H2Secondary {
    text-align: center;
    border-bottom: 5px solid var(--blue-primary);
    border-radius: 5px;
    padding-bottom: 15px;
    text-shadow: var(--text-shadow-black);
    color: var(--blue-tertiary);
    font-size: 40px;
    width: fit-content;
}

h3.H3Primary {
    text-align: center;
    border-bottom: 5px solid var(--blue-tertiary);
    border-radius: 7px;
    padding-bottom: 15px;
    text-shadow: var(--text-shadow-black);
    color: white;
    font-size: 30px;
    width: fit-content;
}