// Fonts
@font-face {
    font-family: noteworthy;
    src: url("../assets/fonts/Veneer\ W01\ Two.ttf");
}

@font-face {
    font-family: avenir;
    src: url("../assets/fonts/Avenir\ Next\ Condensed\ Bold.ttf");
}