// margin: 25px
.m25 {
    margin: 25px;
}

// margin-bottom: 60px
.mb60 {
    margin-bottom: 60px;
}

// margin-right: auto
.mr-auto {
    margin-right: auto;
}

// margin-left: auto
.ml-auto {
    margin-left: auto;
}

// margin right & left: auto
.mrl-auto {
    margin-right: auto;
    margin-left: auto;
}

// padding: 25px
.p25 {
    padding: 25px;
}

//  border-radius 15px
.br-medium {
    border-radius: 15px;
}

.br-small {
    border-radius: 5px;
}

// texts
.text-center {
    text-align: center;
}