<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{ url_for('static', filename='JS/admin.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='JS/admin_commun.js') }}" type="text/javascript"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>

    <header>
        <div>
            <button onclick="handleClickUsers()">Utilisateurs</button>
            <button>Projets</button>
            <button>Devis</button>
            <button>Commentaires</button>
            <button>Formualires contact</button>
            <button>sessions</button>
        </div>
        <button onclick="handleLogout()" id="logoutButton">Déconnexion</button>
    </header>

    <h1>Interface Administrateur</h1>

    <div>
        <p>Nombre d'utilisateurs: {{nb_users}}</p>
        <p>Nombre de contacts: {{nb_contact}}</p>
        <p>Nombre de projets: {{nb_projects}}</p>
        <p>Nombre de commentaires: {{nb_comments}}</p>
        <p>Nombre de sessions: {{nb_sessions}}</p>
    </div>


</body>


</html>