<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Interface Administrateur</h1>
    <button id="button">get projects</button>



</body>
<script>
    document.getElementById("button").addEventListener("click", async (e) => {
        const response = await fetch("http://127.0.0.1:10000/get_projects", {
            method: "GET",
            credentials: "include",
        })
        const projects = await response.json()
        console.log(projects.map(project => JSON.parse(project)));
    })
</script>

</html>