<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users manager</title>
    <script src="{{ url_for('static', filename='users_manager.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='admin_commun.js') }}" type="text/javascript"></script>
    <style>
        .userContainer {
            background-color: lightblue;
            padding: 5px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .userContainer:hover {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1>Gestion des utilisateurs</h1>
    <div>
        <h2>Utilisateurs:</h2>
        <ol>
            {%for user in users%}
            <li class="userContainer">
                <p style="margin: 0;">{{user.family_name}} {{user.given_name}} de {{user.organization}}
                </p>

                <p style="margin: 0;">Membre depuis {{user.creation_date}}</p>

                <p style="margin: 0;">Nombre de projets: {{user.nb_projects}}</p>

                <p style="margin: 0;">{{ "admin" if user.is_admin }}</p>

                <p>

                </p>
            </li>
            {%endfor%}
        </ol>

    </div>
</body>

</html>