.h1Container {
    width: 80%;
    height: 350px;
    background-color: #3d3d3d;

    h1 {
        font-size: 50px;
    }

    .imageContainer {
        background: url("/images/output-onlinepngtools\ \(2\).png") no-repeat;
        background-position: 0px -120px;
        background-color: rgba(0, 0, 0, 0.9);
        min-width: 500px;
        max-width: 500px;
    }

    .textContainer {

        p {
            width: 80%;
            text-align: center;
        }
    }
}