body {





    .content {


        .background {


            .span-icon-corner-1,
            .span-icon-corner-2,
            .span-icon-corner-3,
            .span-icon-corner-4 {
                opacity: .6;
            }

            .span-icon-corner-1 {
                position: fixed;
                rotate: -90deg;
                left: 0;
                background: url("../assets/icones/Electronic_printed_circuit_diagonal_lines.svg") center/contain no-repeat;
                display: flex;
                height: 100px;
                width: 100px;
            }

            .span-icon-corner-2 {
                position: fixed;

                right: 0;

                background: url("../assets/icones/Electronic_printed_circuit_diagonal_lines.svg") center/contain no-repeat;
                display: flex;
                height: 100px;
                width: 100px;
            }

            .span-icon-corner-3 {
                position: fixed;
                rotate: 180deg;

                left: 0;
                bottom: 0;
                background: url("../assets/icones/Electronic_printed_circuit_diagonal_lines.svg") center/contain no-repeat;
                display: flex;
                height: 100px;
                width: 100px;
            }

            .span-icon-corner-4 {
                position: fixed;
                rotate: 90deg;

                right: 0;
                bottom: 0;
                background: url("../assets/icones/Electronic_printed_circuit_diagonal_lines.svg") center/contain no-repeat;
                display: flex;
                height: 100px;
                width: 100px;
            }
        }

        .h1-container {
            padding: 25px 2.5%;
            // background: var(--blue-gradient-primary);
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 25px;
            width: 80%;
            margin: 130px auto 0 auto;
            box-shadow: 2px 2px 20px 4px var(--blue-primary);
            display: flex;

            .span-image {
                background: url("../assets/images/output-onlinepngtools\ \(2\).png") center/contain no-repeat;
                flex: 1;
                border-radius: 25px;
                background-color: black;
                // box-shadow: 2px 2px 400px 7px var(--green-primary);
            }

            h1 {
                text-align: center;
                margin: 0 auto 0 auto;
                max-width: 60%;

                .titre-h1 {
                    font-size: 35px;
                    letter-spacing: 5px;
                    line-height: 1.2;
                    color: var(--blue-primary);
                    text-shadow: var(--text-shadow-black);
                }

                .phrase-intro {
                    font-size: 20px;
                }
            }
        }


        // section 1
        .section-1 {
            margin-top: 120px;
            color: white;

            h2 {
                border-bottom: 5px solid var(--blue-primary);
                text-shadow: var(--text-shadow-blue);
                font-size: 80px;
                letter-spacing: 5px;
                color: white;
                width: fit-content;
                margin: 0 auto 120px;
            }

            .container {

                .parts {
                    display: flex;
                    justify-content: center;

                    .span-texte {
                        h3 {
                            border-bottom: 5px solid white;
                            // text-shadow: var(--text-shadow-white);
                            font-size: 30px;
                            letter-spacing: 5px;
                            color: var(--blue-primary);
                            width: fit-content;
                        }

                        p {
                            text-align: l;
                            max-width: 700px;
                        }
                    }

                    .span-image {
                        height: 350px;
                        width: 250px;
                        display: block;
                    }
                }

                .part-1 {
                    .span-image {
                        background: url("../assets/images/kisspng-car-auto-mechanic-clip-art-worker-5abafe5e79bd58.0445926915222042544987.png") center/contain no-repeat;
                    }
                }

                .part-2 {

                    .span-image {
                        background: url("../assets/images/kisspng-construction-worker-architectural-engineering-cart-construction-worker-5ab8dd07578a65.6772059815220646473586.png") center/contain no-repeat;
                    }
                }

                .part-3 {
                    .span-image {
                        background: url("../assets/images/garantie.webp") center/contain no-repeat;

                    }
                }

                .part-4 {
                    .span-image {
                        background: url("../assets/images/kisspng-clip-art-clothing-accessories-cartoon-product-desi-script-materi-edukasi-untuk-pebisnis-online-kaly-5c635672c8e170.4320553915500140668228.png") center/contain no-repeat;

                    }
                }

                .part-5 {
                    .span-image {
                        background: url("../assets/images/kisspng-internet-world-wide-web-email-world-wide-web-png-pic-5a77bcc49b8983.2780346715177965486371.png") center/contain no-repeat;

                    }
                }

                .part-6 {
                    .span-image {
                        background: url("../assets/images/kisspng-royalty-free-superhero-handyman-worker-vector-5ad15983bafa03.5698646015236693797659.png") center/contain no-repeat;

                    }
                }

                .phrase-finale {
                    text-align: center;
                    font-size: 2rem;
                }
            }

        }

        .button-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .button-1,
            .button-2 {
                cursor: pointer;
                background-color: var(--blue-primary);
                border-radius: 5px;
                padding: 10px 15px;
            }

            .separator {
                color: white;
            }
        }

    }
}